<h3>Let's register, Please fill out the form below:</h3>
<form method="post" action="/users" >
	
User Name: <input type="text" name="user[username]">

<br><br>

Email: <input type="text" name="user[email]">

<br><br>

Password: <input type="password" name="user[password]">

<br><br>

<input type="submit" name="submit" value="Submit">
</form>