
<div class="text-center"><h2><u><%=@user_profile.username %>'s Profile Page</u></h2>

	<% if @same_user == true %>
		<a class="" href="/games/new">Add New Game</a> 
		
	<%end%>	
</div>

<br>
<br>

<ol class="row">
		
	<% @user_profile.games.each do |game| %>
	<div class="col-md-4">

	<h4>Games</h4>
	<li>
		
		<b><a href="/games/<%=game.slug%>"><%=game.title.split.collect{|word| word.capitalize}.join(" ")%></a></b> published by: <%=game.publisher%> 
	</li>
	</div>

	<div class="col-md-4">
	<h4>Characters</h4>
	</div>

	
	<div class="col-md-4"></div>

	<%end%>

</ol>

<br><br>

