<div class="text-center">
	<h3><u>Users</u></h3>
</div>

<br>
<div class="row">
	<h5 class="col-md-6 text-left">Username</h5>

	<h5 class="col-md-6 text-left">Total Games</h5>

</div>
<br>
<ul class="row">
	
	<% @users.each do |user| %>

		
		<li>
		<div class="col-md-6 text-left"><a href="/users/<%=user.slug%>"><%=user.username%></a></div>

		<div class="col-md-6 text-left"> <%=user.games.all.count%> </div>
		</li>


	<%end%>
</ul>