<div class="text-center">
	<h3><u>Users</u></h3>
</div>

<br>
<ul class="row">
	
	<% @users.each do |user| %>

		<div class="col-md-6">
			<h5>Username</h5>
			<li><a href="/users/<%=user.slug%>"><%=user.username%></a></li>
		</div>

		<div class="col-md-6">
			<h5>Total Games</h5>
			<li><%=user.games.all.count%></li>
		</div>

	<%end%>
</ul>