<div class="text-center">
	<h3><u>New Game Form</u></h3>

	<% if @exist == true %>
	
		<b>Game already exists, please create another game</b>
	<%end%>
</div>

<div class="text-md-left" > 

	<form method="post" action="/games">
		
		<label>Game Title:</label>
		<input type="text" name="game[title]">
		<br><br>
		<label>Game Publisher: </label>
		<input type="text" name="game[publisher]">
		<br><br>
		<label>Please Select or create a new genre: </label>
		<input type="text" name="game[genre]">

		<br><br>
		<input type="submit" name="submit" value="Create Game">

	</form>

</div>
	